%header.container.blue-grey.lighten-4.grey-text.text-darken-4
  %h4 Full Log
  %a{ href: url('/') }
    %i.mdi-navigation-chevron-left
    Back to Home

%main.container.blue-grey.lighten-4.grey-text.text-darken-4

  %pre= @log
